.navigation {
  width : 100%;
  height: 50px;
  background-color: lightblue;
}

h1 {
  text-align: center;
  font-size: 400%;
}

body {
  background:
  "https://img00.deviantart.net/ec57/i/2012/012/5/4/2_puppies_by_lj6204-d4m5h45.jpg";
  background-size: contain;
}